<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>Controller.Customer.BlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listBlog</servlet-name>
        <servlet-class>Controller.Customer.listBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlog</servlet-name>
        <servlet-class>Controller.Seller.EditBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlog</servlet-name>
        <servlet-class>Controller.Seller.SearchBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>Controller.Seller.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlog</servlet-name>
        <servlet-class>Controller.Seller.DeleteBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogFromAdmin</servlet-name>
        <servlet-class>Controller.Admin.AddBlogFromAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogForAdmin</servlet-name>
        <servlet-class>Controller.Admin.DeleteBlogForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogForAdmin</servlet-name>
        <servlet-class>Controller.Admin.EditBlogForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.Common.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.UserAccess.loginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listBlog</servlet-name>
        <url-pattern>/listblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlog</servlet-name>
        <url-pattern>/seller/editblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlog</servlet-name>
        <url-pattern>/seller/searchblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/seller/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/seller/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogForAdmin</servlet-name>
        <url-pattern>/admin/deleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogForAdmin</servlet-name>
        <url-pattern>/admin/editBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogFromAdmin</servlet-name>
        <url-pattern>/admin/addBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
